<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <img src="https://cdn.discordapp.com/attachments/1090333920656109661/1224094277752193074/image0.jpg?ex=661c3da2&is=6609c8a2&hm=71d1ad07c36f410237adaa268290aa44a6f8dadea45669869afb9b5e199404c9&" alt="img">
  <div id="container">
    
    <strong>Avaliação formadora</strong>
    <p>Matheus de Almeida Ansel</p>
    <p>Turma: ADS0302N</p>
    <p>Matricula: 22202840</p>

  </div>
</ion-content>
